body{
  background-color: hsl(0, 0%, 98%);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
header{
  text-align: center;
}
h3{
  font-weight: 600;
  color:hsl(234, 12%, 34%)
}
.reliable{
  color:hsl(234, 12%, 34%);
  font-weight: 100;
}
.powered{
  color:hsl(234, 12%, 34%);
  font-weight: 600;
}
.description{
  color: hsl(229, 6%, 66%);

}
main{
  display:flex;
  justify-content:space-evenly;
}
span{
  margin: 15px;
}
.supervisor{
  position: absolute;
  background-color: hsl(0, 100%, 100%);
  color: hsl(229, 6%, 66%);
  border-top-color: hsl(180, 62%, 55%);
  border-top-style:outset;
  border-radius: 5px;
  width: 350px;
  height: 250px;
  text-indent: 15px;
  margin-top: 255px ;
  margin-right: 755px;
  
}
.supervisorImg{
  width:64px;
  height:64px;
  padding-top: 45px;
  padding-left: 240px;
}
.teamBuilder{
  position: absolute;
  background-color: hsl(0, 100%, 100%);
  color: hsl(229, 6%, 66%);
  border-top-color:  hsl(0, 78%, 62%);
  border-top-style: outset;
  border-radius: 5px;
  width: 350px;
  height: 250px;
  text-indent: 15px;
  margin-top: 115px;
}
.teamBuilderImg{
  width:64px;
  height:64px;
  padding-top: 45px;
  padding-left: 240px;
}
.karma{
  position: absolute;
  background-color: hsl(0, 100%, 100%);
  color: hsl(229, 6%, 66%);
  border-top-color: hsl(34, 97%, 64%);
  border-top-style: outset;
  border-radius: 5px;
  width: 350px;
  height: 250px;
  text-indent: 15px;
  margin-top: 410px;
}
.karmaImg{
  width:64px;
  height:64px;
  padding-top: 45px;
  padding-left: 240px;
}
.calculator{
  position: absolute;
  background-color: hsl(0, 100%, 100%);
  color: hsl(229, 6%, 66%);
  border-top-color: hsl(212, 86%, 64%);
  border-top-style: outset;
  border-radius: 5px;
  width: 350px;
  height: 250px;
  text-indent: 15px;
  margin-top: 255px;
  margin-left: 755px;
}
.calculatorImg{
  width:64px;
  height:64px;
  padding-top: 45px;
  padding-left: 240px;
}
.attribution {
  margin-top: 700px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  margin-top: 700px;
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width:1024px) {

  header{
    background-color: hsl(0, 1%, 98%);
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    padding: 15px;
    margin: auto;
  }
 main{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 300px;
    margin: auto;
  }
  span{
    margin: 15px;
  }
  .supervisor{
    position: relative;
    margin: 15px;
    
  }
  .teamBuilder{
    position: relative;
    margin: 15px;
  }
  .karma{
    position: relative;
    margin: 15px;
  }
  .calculator{
    position: relative;
    margin: 15px;
  }
  .attribution {
    margin-top: 0px;
  }
  .attribution a {
    margin-top: 0px;
  }

}
